* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    background-color: #000000;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

.btn-1 {
    width: 200px;
    height: 54px;
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin: 5% 0;
    cursor: pointer;

}

/* header section */

/* nav section*/

header {
    max-width: 1140px;
    margin: auto;
}

header nav {
    /* border: 1px solid red; */
    width: 90%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;

}
header nav  .fa{
    display: none;
}
header nav span {
    color: #BD4431;
    cursor: pointer;
    font-size:3rem ;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li:first-child {
    background-color: #E6533C;
    border-radius: 46px;

}

header nav ul li {
    padding: 8px 20px 8px 20px;
    cursor: pointer;
}

header nav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 120%;


}

/* hero section*/

.hero {
    /* border: 1px solid red; */
    width: 90%;
    margin: 10% auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);

}

.hero .container {
    /* border: 1px solid gray; */
    margin: 3% 2%;
    display: flex;
    justify-content: space-evenly;
    gap: 1%;


}


.hero .container div {
    width: 50%;

}


/* hero right section*/
.hero .container .right {
    position: relative;
    height: 580px;
    background: url(images/Images2.png);
    background-repeat: no-repeat;
    background-position: center center;


}

.hero .container .right>div {
    position: absolute;
    width: 150px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    ;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 1px;


}

.hero .container .right span {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 1px;
}

.hero .container .right .div-1 {
    right: 15%;
    top: 24%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero .container .right .div-2 {
    display: flex;
    bottom: 16%;
    left: 16%;
    gap: 5%;
    justify-content: center;
    align-items: center;

}

.hero .container .right .div-2 div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BD4431;
}

/* hero left section*/


.hero .container .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;

}

.hero .container .left h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;

}

.hero .container .left span {
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-weight: 400;
}

.hero .container .left p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1.3rem;
}


.hero .container .left .btn {
    width: 100%;
    display: flex;
    gap: 5%;
}

.hero .container .left .btn .btn-2 {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}

/* responsive header section */

@media screen and (min-width:280px) and (max-width:700px) {
    
    header {
        margin: 5% auto;
    }

   

  
    header nav .fa{
        display: block;
        font-size: 2rem;
        padding: 1rem;
       
    }

    header nav .menu ul {
        display: none;
    }

    header nav h1 {
        font-size: 3rem;
    }

    /* hero section */
    .hero .container {

        flex-direction: column;
        gap: 0%;


    }

    .hero .container>div {
        width: 100%;
    }

    .hero .container .left h1 {
        font-size: 2rem;
    }

    .hero .container .left p {
        margin: 5% auto;
        font-size: 0.7rem;
    }

    .btn-1 {
        width: 150px;
        height: 40px;
        padding: 10px 40px;
        font-size: 0.5rem;


    }

    .hero .container .right {
        width: 100%;
        margin-top: 15%;

    }


    .hero .container .right .div-1 {
        right: -6%;
        top: 10%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    
    }
    
    .hero .container .right .div-2 {
       
        bottom: 41%;
        left: -2%;
       
    
    }


}

@media screen and (min-width:701px) and  (max-width:992px){

    .hero .container {

        flex-direction: column;
        

    }
    .hero .container>div {
        width: 100%;
    }
    .hero .container .left{
        width: 85%;
        margin: auto;
    }
    .hero .container .left p {
        margin: 5% auto;
        font-size: 2rem;
        
    }
    .hero .container .left h1 {
        font-size: 3.5rem;
        
    
    }
    
}


/* main section*/
.main{
    max-width: 1140px;
    margin:auto ;
   
}

/* main habit section*/

.habit{
    width: 90%;
    margin: 5% auto;
}

.habit .tittle{
    text-align: center;
}

.habit .tittle h1{
    font-size: 2rem;
    font-weight: 900;
    margin: 14px 0px;
}

.habit .tittle p{
    font-size: 1rem;
    color: rgba(255,255,255,0.5);
    margin: 14px 0px;
}

.habit .cards{
    width: 100%;
    margin-top: 7%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}
.habit .cards img{
    width: 80%;
    clip-path: circle(50%);
}

.habit .cards > div{
    max-width: 231px;
    max-height: 274px;
    text-align: center;
}

.habit .cards h1{
    font-size: 0.9rem;
    font-weight: 900;
    margin: 10px 0px;
}

.habit .cards p{
    font-size: 0.7rem;
    color: rgba(255,255,255,0.5);
    margin: 10px 0px;
}


/* main runnig section*/

.runing{
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34,34,34,1);
    /* gap: 20px; */
    border-radius: 16px;
    
}
.runing button{
    margin-top: 0px;
}

.runing .tittle{
    width: 50%;
    padding-left: 5%;
    
}
.runing .tittle h1{
    font-size: 1.8rem;
    font-weight: 900;
    margin: 14px 0px;
}

.runing .tittle p{
    font-size: 0.8rem;
    color: rgba(255,255,255,0.5);
    margin: 14px 0px;
}

.runing .img{
    max-width: 500px;
    max-height: 100%;
    border-radius: 30px;
    padding-left: 5%;
}

.runing .img img{
    width: 90%;
    margin: 5% auto;
    border-radius: 16px;
}


/* responsive runing section*/

@media screen and (min-width:280px) and (max-width:700px)  {
    .runing {
        width: 95%;
        flex-direction: column;
        
        
    }

    .runing .tittle{
        width: 90%;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        padding: 0;
       
    }
    .runing .img {
        max-width: 90vw;
        margin: auto;
        
    }
    .runing .img img{
        width:95%;
       
    }
    .runing button{
        width: 100%;
        margin: auto;
        font-size: 1rem;
    }
}


/* main training section*/

.training{
    width: 90%;
    margin:10% auto;
}

.training .tittle{
    display: flex;
    flex-direction: column;
    
}
.training .tittle h1{
    font-size: 2rem;
    margin: 2% 0;
}

.training .tittle p{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.5);
    margin: 2% 0;
    margin-bottom: 10%;
}

.training .cards > div{
    position: relative;
    height: 100%;
   
    
    
}
.training .cards  img{
    width: 100%;
    height: 100%;
    
    
}

.training .cards > div h1{
    
    font-size: 0.4rem;
    position: absolute;
    font-weight: 500;
    
}
.training .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.training .cards .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    
}

.training .cards div:nth-child(1) .overlay{
    background: rgba(6, 255, 210, 0.5)
}

.training .cards div:nth-child(2) .overlay{
    background:rgba(255, 0, 0, 0.4) ;
}

.training .cards div:nth-child(3) .overlay{
    background:rgba(0, 0, 0, 0.3) ;
}
.training .cards div:nth-child(4) .overlay{
    background:rgba(0, 0, 0, 0.5) ;
   
}
.training .cards div:nth-child(5) .overlay{
    background:rgba(66, 255, 0, 0.3) ;
    
}
.training .cards div:nth-child(6) .overlay{
    background: rgba(0, 71, 255, 0.3) ;
    
}
.training .cards div:nth-child(1) h1{
    bottom: 10%;
    left: 10%;
   color:rgba(0,0,0) ;
}
.training .cards div:nth-child(2) h1{
    top: 10%;
    left: 10%;
 }
 .training .cards div:nth-child(3) h1{
    bottom: 10%;
    left: 10%;
 }
 .training .cards div:nth-child(4) h1{
    top: 10%;
    right: 10%;
 }
 .training .cards div:nth-child(5) h1{
    bottom: 10%;
    left: 10%;
 }
 .training .cards div:nth-child(6) h1{
    bottom: 10%;
    left: 10%;
 }

/* responsive for training section */
 @media screen and (min-width:280px) and (max-width:700px) {

    .training .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .training .cards div:nth-child(3) {
        display: none;
     }
     .training .cards div:nth-child(6) {
        display: none;
     }
 }


 /* main bmi section */

 main{
    width: 100%;
 }

 .bmi .tittle{
   
    width: 90%;
    margin:5% auto;
    text-align: center;
 }

 .bmi .tittle h1{
    font-size: 2rem;
    margin: 2% 0;
}

.bmi .tittle p{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.5);
 
    
}

.bmi .calculator{
    width: 100%;
    background: rgba(34, 34, 34,1);
    

}

.bmi .calculator .container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10% 5%;
    gap:10px
  
}
.bmi .calculator .container h3{
    font-size: 1.5rem;
    font-weight: 900;
    
}
.bmi .calculator .container .left h3{
    margin-left: 1%;
}


.bmi .calculator .container .left table{
    max-width: 100%;
    margin-top: 10%;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}

.bmi .calculator .container .left table,tr,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
}


.bmi .calculator .container .left table th{
    color:rgba(255, 255, 255, 0.7); ;
}
.bmi .calculator .container .right p{
    color: rgba(255,255,255,0.5);
    font-size: 0.9rem;
    margin: 2% 0;
    margin-bottom: 5%;
}
.bmi .calculator .container .right{
    width: 50%;
    
}

.bmi .calculator .container .right form input,select{
    display: inline-block;
    width: 45%;
    border: none;
    border-radius: 8px;
    color:rgba(255,255,255,0.3); ;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 10px 12px 20px;
    margin: 5px 0;
    cursor: pointer;
    
}
.bmi .calculator .container .right form #activity{
    width: 91%;
    
}

/* responsive bmi calculator section*/

@media screen and (min-width:280px) and (max-width:860px) {
    .bmi .calculator .container{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;

      
    }
    .bmi .calculator .container .left {
        width: 100%;
        margin: auto;
    }
    .bmi .calculator .container .right {
        width: 100%;
        margin: 10% auto;
    }
    
    
}

@media screen and (min-width:280px) and (max-width:600px){
    .bmi .calculator .container h3{
        font-size: 1rem;
        text-align: left;
    }

    .bmi .calculator .container .right p{
        font-size: 0.7rem;
    }
}



/* main team section */



.team{
   
    width: 90%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.team .tittle h1{
    font-size: 2rem;

}

.team .tittle p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 1% 0;
    margin-bottom: 10%;
}

.team .cards > div{
    position: relative;
    max-width: 450px;
    max-height: 400px;


}

.team .cards div img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    
}

.team .cards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    cursor: pointer;
   
}

.team .cards  div h4{
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
    font-size: 0.8rem;

}

.team .cards  div h4 span{
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.4);
}


/* responsive for team section*/

@media screen and (min-width:280px) and (max-width:700px) {
    .team .cards {
   
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 20%;
       
       
    }

    .team .cards .div-1, .div-4{
        display: none;
    }
}

/* footer section*/
footer{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10%;
}

footer .container{
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .container > div{
    flex-basis: 25%;
    margin: 10% 0;
    gap: 20px;
}
footer .container .div-1{
    flex-basis: 30%;
    padding-right: 20px;
}
footer .container .div-1 p{
    font-size: 0.8rem;
    color:rgba(255,255,255,0.5) ;
    line-height: 1.5rem;
}
footer .container .div-1 h1{
    font-size: 4rem;
    margin-bottom: 5%;
    color: #BD4431;
}
footer .container ul {
    list-style: none;
}
footer .container ul li {
    padding: 10px 0px;
    margin-top: 10px;
    color:rgba(255,255,255,0.5) ;
}

footer .container h1{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
}

 #copyright{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    text-align: center;
    
}


/* responsive for footer section*/

@media screen and (min-width:280px) and (max-width:700px){
    footer .container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        margin: auto;
    }

    footer .container > div{
        flex-basis: 50%;
        
        
    }
}


